/*font-family: 'Righteous', cursive;*/

.header {
	background-color: #081c54;
	/* padding: 20px; */
	/* text-align: center; */
	color: aliceblue;
	font-family: "Righteous", cursive;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: center; */
	/* background-color: bisque; */
	align-content: center;
	justify-content: space-between;
}
